{% extends 'template.html' %}

{% block head %}
<title>To do List</title>
{% endblock %}


{% block body %}

<div class="container">
    <div class="content">
        <h1>Organizer</h1>

        {% if tasks|length < 1 %}
        <h4>There are no tasks. Create one below!</h4>

        {% else %}
        <table>
            <tr>
                <th>Tasks</th>
                <th>Urgency</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks%}
            <tr>
                <td>{{ task.content }}</td>
                <td>
                    {% if task.urgency == 1 %}
                    High
                    {% elif task.urgency == 2 %}
                    Mid
                    {% elif task.urgency == 3 %}
                    Low
                    {% endif %}
                </td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="update/{{ task.id }}">Update</a>
                    <br>
                    <a href="delete/{{ task.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        {% endif %}

        <form action='/', method="POST">
            <input type="text" name="content" id="content"><br>
            Urgency:
            <input type="radio" name="urgency" id="urgency" value="3">low
            <input type="radio" name="urgency" id="urgency" value="2" checked>mid
            <input type="radio" name="urgency" id="urgency" value="1">high
            <br>
            <input type="submit" value="Add Task">
        </form>
    </div>
</div>
{% endblock %}
